.h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #060606;
}

.h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #ECECEF;
}

.bodyLg {
  font-size: 18px;
  line-height: 28px;
  color: #F1F1FE; 
}

.bodyMd {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.bodySm {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.caption {
  font-size: 12px;
  line-height: 16px;
  color: #B97FC9; 
}
